* {
margin: 0;
padding: 0
;}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:space-around ;
    gap: 10px;
    margin: 20px;
    padding: 20px;
}

.image {
    width: 300px;
    object-fit: cover;
}

.image:hover {
    cursor: pointer;
    opacity: 0.8;
}